<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="logger" class="log.LogConsoleManager">
        <property name="debug" value="false"/>
        <property name="error" value="false"/>
        <property name="info" value="true"/>
        <property name="warning" value="false"/>
    </bean>

    <bean id="loggerFile" class="log.LogFileManager" init-method="init">
        <property name="debug" value="false"/>
        <property name="error" value="false"/>
        <property name="info" value="true"/>
        <property name="warning" value="false"/>
        <property name="path" value="/home/xavi"/>

    </bean>
</beans>